@{
    ViewBag.Title = "About";
}
<h2>Formas de pagamento.</h2>


<h3>Aceitamos Cartões:</h3>
<img class="cartao" src="~/Fotos/aceitamos.png" />
<br />
<h3>Aceitamos Dinheiro</h3>
<img class="dinheiro"src="~/Fotos/dinheiro1.jpg" />
<style>
    .cartao {
        width: 800px;
        height: 300px;
    }
    .dinheiro {
        width: 800px;
        height: 300px;
    }
</style>