@{
    ViewBag.Title = "Contact";
}
<h2>Contatos Para Suporte Do Site</h2>


<address>
    Suporte<br />
    <abbr title="Phone">Telefone:</abbr>
    3336-0000
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
</address>