@{
    ViewBag.Title = "Home Page";
}


 
<img class="fundo" src="~/Fotos/pizza.jpg" /></p>
   
<div class="row">
    <div class="col-md-4">
        <img class="imagem" src="~/Fotos/fundo.jpg" />
        <h2>Consulte a Promocão do Mês</h2>
        <p>
            Todo mes teremos uma promoção diferente,assim se estiver duvida em que promocão será valida.
        </p>
        <p><a class="btn btn-default" href="#">Consultar</a></p>
    </div>
    <div class="col-md-4">
        <img class="imagem" src="~/Fotos/refrigerante.jpg" />
        <h2>Bebidas</h2>
        <p>Nossa Lista de refrigerante</p>
        <p><a class="btn btn-default" href="#">Consultar</a></p>
    </div>
    <div class="col-md-4">
        <img class="imagem" src="~/Fotos/batata.jpg" />
        <h2>Batata Recheadas</h2>
        <p>Lista das batatas rechedas e descrição com cada ingrediente</p>
        <p><a class="btn btn-default" href="#">Consultar</a></p>
    </div>
</div>

<style>
    .imagem{
        height:150px;
        width:300px;
        padding-right:10px;
    }
    .fundo {
        height: 300px;
        width: 1000px;
        padding-right: 60px;
    }
</style>